[user]
    name = Amir Pourmand
    email = pourmand1376@gmail.com

[url "git@github.com:"]
    insteadOf = https://github.com/

[core]
    excludesfile = ~/.gitignore_global
    pager = delta

[init]
    defaultBranch = main

[push]
    autoSetupRemote = true

[pull]
    rebase = false

# git mergetool
[merge]
    tool = nvimdiff

[mergetool]
    prompt = false

[interactive]
    diffFilter = delta --color-only

[add.interactive]
    useBuiltin = false

[diff]
    colorMoved = default

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true

[rerere]
    enabled = true

[alias]
    lg = log --graph --oneline --all --decorate
    last = log -1 HEAD
    undo = reset --soft HEAD^
    amend = commit --amend --no-edit
    unstage = restore --staged
    branches = branch -vv
    recent = log --oneline --decorate -20
