nvim/.config/nvim/undodir/*
nvim/.config/nvim/plugged/*
lvim/.config/lvim/plugin/packer_compiled.lua

input_remapper/.config/input-remapper/presets/MOSART Semi. 2.4G Keyboard Mouse/new preset.json
input_remapper/.config/input-remapper/presets/2.4G Mouse/new preset.json
